
.pList{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 220px;
}

.pListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 18px;
  color: #444;
}

.pListTitles>h2{
  font-size: 14px;
  font-weight: 300;
}

.pListContent {
  display: flex;
  gap: 20px;
  width: 100%;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.pListContent.show {
  opacity: 1;
}

.pListLoading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: #666;

  opacity: 1;
  transition: opacity 0.4s ease;
}



.pListContent {
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.pListContent.show {
  opacity: 1;
  transform: translateY(0);
}
